html {
  background-color: #282c34;
}
.App{
  background-color: #282c34;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 50px 0px
}
.survey-form{
  width: 55%;
  max-width: 800px;
  min-width: 450px;
  margin: 50px auto;
  padding: 20px;
  border-style: solid;
  border-color: grey;
  border-radius: 10;
  background-color: #FAFAFA;
}

.review-form{
  width: 55%;
  min-width: 450px;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-style: solid;
  border-color: grey;
  border-radius: 10;
  background-color: #FAFAFA;

}
.nameField{
  width: 80%;
}
.singleNameField{
  width: 50%;
}
.perferredTitleField{
  min-width: 200px;
  width: 25%;
}
.heightField{
  width: 35%;
  min-width: 150px;
}
.phoneField{
  width: 40%;
  min-width: 300px;
}
.addressBox{
  min-width: 150px;

}
.CheckboxGroupField{
  width: 100%;
}
.checkbox{
  margin-left: 25px;

}
.budgetField{
  width: 30%;
  min-width: 250px;

}
.emailField{
  width: 60%;
  min-width: 350px;

}
.termsField{
  width: 50%;
  display: inline;
  min-width: 200px;

}
.error{
  color: red;
  font-size: 0.875em;
}
.errorBox {
  border: 2px solid #FF6565;

}
.selections{
  width: 50%;
  overflow-wrap: break-word;

}
.submitButton{
  
  margin-left: auto;
}